<div id="container">
  <div id="containerForm">
    <div id="formsFilme">
      <form id="formCadastro">
        <div class="form-group">
          <label for="inpNomeFilme">Nome do filme</label>
          <input type="text" class="form-control" id="inpNomeFilme" />
        </div>
        <div class="form-group">
          <label for="inpSinopse">Sinopse</label>
          <textarea class="form-control" id="inpSinopse" rows="3"></textarea>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label for="inpLinkVideo">Link</label>
          <input type="text" class="form-control" id="inpLinkVideo" />
        </div>
        <div class="form-group">
          <label for="inpNomeFilme">Gênero</label>
          <input type="text" class="form-control" id="inpNomeFilme" />
          <small class="form-text text-muted">Assunto abordado no video</small>
        </div>
      </form>
    </div>

    <div id="container-btn">
      <button type="submit" class="btn btn-outline-danger btn-block">
        Cadastrar
      </button>
    </div>
  </div>
</div>

<!--
  1. TITULO <-
  2. SINOPSE <-
  3. DIREÇÃO <-
  4. ELENCO
  5. ROTEIRO
  6. GÊNERO <-
  7. CLASSIFICAÇÃO ETÁRIA
  8. DATA DE LANÇAMENTO
-->
